<ul class="social-icons">
  {% if site.social.github %}<li><a href="https://github.com/{{ site.social.github }}" target="_blank" rel="noopener">GitHub</a></li>{% endif %}
  {% if site.social.twitter %}<li><a href="https://twitter.com/{{ site.social.twitter }}" target="_blank" rel="noopener">Twitter</a></li>{% endif %}
  {% if site.social.linkedin %}<li><a href="https://linkedin.com/in/{{ site.social.linkedin }}" target="_blank" rel="noopener">LinkedIn</a></li>{% endif %}
  {% if site.social.mastodon %}<li><a href="{{ site.social.mastodon }}" target="_blank" rel="noopener">Mastodon</a></li>{% endif %}
  {% if site.social.instagram %}<li><a href="https://instagram.com/{{ site.social.instagram }}" target="_blank" rel="noopener">Instagram</a></li>{% endif %}
</ul>
